/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

html,
body {
    display: grid;
    height: 100vh;
    background: #94bbe9;
    place-items: center;
    overflow: hidden;
}
.App {
    text-align: center;
    height: 100vh;
    background: rgb(238, 174, 202);
    background: radial-gradient(
        circle,
        rgba(238, 174, 202, 1) 0%,
        rgba(148, 187, 233, 1) 100%
    );
}

.login-question {
    font-size: 12px;
}

.submit-container {
    margin: auto;
    padding: 100px;
}

a {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration: underline;
}

h2 {
    color: darkblue;
}

p {
    margin: 10px;
}

input {
    margin: 10px;
}

input::placeholder {
    display: none;
}

input[type="email"]:focus::placeholder,
input[type="password"]:focus::placeholder {
    color: transparent;
}

@media only screen and (max-width: 525px) {
    .submit-container {
        overflow: hidden;
        padding: 50px;
    }
}

.main-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-image {
    width: 200px;
    height: 200px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
}

.product-item {
    flex: calc(20% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 5px;
}

@media screen and (max-width: 2560px) {
    .product-item {
        flex-basis: calc(20% - 20px);
    }
}

@media screen and (max-width: 1920px) {
    .product-item {
        flex-basis: calc(25% - 10px);
    }
}

@media screen and (max-width: 1440px) {
    .product-item {
        flex-basis: calc(33.33% - 10px);
    }
}

@media screen and (max-width: 1024px) {
    .product-item {
        flex-basis: calc(50% - 10px);
    }
}

@media screen and (max-width: 768px) {
    .product-item {
        flex-basis: 100%;
    }
}

.web {
    color: red;
}

.shop {
    color: green;
}

.logoutBtn {
    padding: 10px;
}

.shopping-cart-page {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

@media (max-width: 600px) {
    .shopping-cart-page table {
        width: 70%;
    }
}

@media (max-width: 400px) {
    .shopping-cart-page th,
    .shopping-cart-page td {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .item-title {
        padding-left: 35px;
    }
}
@media (max-width: 400px) {
    .shopping-cart-page th,
    .shopping-cart-page td {
        overflow-x: scroll;
    }
}
